body{
  background-image: url(/img/2.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
  flex-direction: column;
}
.top{
  display: flex;
  gap: 10px;
}

img {
  width: 500px;
  height: 460px;
  border-radius: 10px;
}

#myChart {
  width: 200px;
  height: 300px;
}

h1, h2{
  font-size: 3rem;
  text-align: center;
  text-decoration: underline;
}

