body{
    background-image: url(/img/2.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}

img {
  width: 500px;
  margin: 20px;
  border-radius: 10px;
}

canvas {
  max-width: 600px;
  margin: auto;
}